<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.monyetmabuk.rajawali.tutorials"
      android:versionCode="26"
      android:versionName="1.1">

	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application android:allowBackup="false" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/app_theme" android:hardwareAccelerated="false">
        <activity android:name=".RajawaliExamplesActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ie.cathalcoffey.android.rajawali.tutorials.FragmentsExampleActivity"></activity>
        <activity android:name=".RajawaliCustomShaderActivity"></activity>
        <activity android:name=".RajawaliSimpleParticlesActivity"></activity>
        <activity android:name=".RajawaliSkyboxActivity"></activity>
        <activity android:name=".RajawaliBasicExampleActivity"></activity>
        <activity android:name=".RajawaliLoadModelActivity"></activity>
        <activity android:name=".RajawaliMaterialsActivity"></activity>
        <activity android:name=".RajawaliUIElementsActivity"></activity>
        <activity android:name="com.monyetmabuk.rajawali.tutorials.cameras.TwoDActivity"></activity>
        <activity android:name=".RajawaliAccelerometerActivity"></activity>
        <activity android:name=".RajawaliMoreParticlesActivity"></activity>
        <activity android:name="com.monyetmabuk.rajawali.tutorials.interact.ObjectPickingActivity"></activity>
        <activity android:name=".RajawaliBezierActivity"></activity>
        <activity android:name=".RajawaliAnimationActivity"></activity>
        <activity android:name=".RajawaliBumpmapActivity"></activity>
        <activity android:name=".RajawaliToonShadingActivity"></activity>
        <activity android:name=".RajawaliMD2Activity"></activity>
        <activity android:name=".RajawaliPostProcessingActivity"></activity>
        <activity android:name=".RajawaliCollisionDetectionActivity"></activity>
        <activity android:name=".RajawaliMultipleLightsActivity"></activity>
        <activity android:name="com.monyetmabuk.rajawali.tutorials.primitives.LinesActivity"></activity>
        <activity android:name=".RajawaliCatmullRomActivity"></activity>
        <activity android:name=".Rajawali2000PlanesActivity"></activity>
        <activity android:name=".RajawaliTransparentSurfaceActivity"></activity>
        <activity android:name=".RajawaliAnimatedSpritesActivity"></activity>
        <activity android:name=".RajawaliFogActivity"></activity>
        <activity android:name=".RajawaliFBXActivity"></activity>
        <activity android:name=".RajawaliVertexShaderActivity"></activity>
        <activity android:name=".RajawaliRipplesActivity"></activity>
        <activity android:name=".RajawaliSphereMapActivity"></activity>
        <activity android:name="com.monyetmabuk.rajawali.tutorials.cameras.ChaseCamActivity"></activity>
        <activity android:name=".RajawaliUsingGeometryDataActivity"></activity>
        <activity android:name=".Rajawali360ImagesActivity"></activity>
        <activity android:name="com.monyetmabuk.rajawali.tutorials.skeletalanim.MD5Activity"></activity>
        <activity android:name=".RajawaliTextureCompressionActivity"></activity>
        <activity android:name=".RajawaliColorAnimationActivity"></activity>
        <activity android:name=".RajawaliSceneActivity"></activity>
        <activity android:name="RajawaliSpecularAndAlphaActivity"></activity>
        <activity android:name="RajawaliVideoTextureActivity"></activity>
        <activity android:name=".skeletalanim.BlendTransitionActivity"></activity>
        <activity android:name=".interact.ObjectDraggingActivity"></activity>
        <activity android:name=".primitives.ColoredLineSegmentsActivity"></activity>
        <activity android:name=".cameras.OrthographiCamActivity"></activity>
    </application>
</manifest>