<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.monyetmabuk.rajawali.tutorials">

    <uses-sdk
        tools:overrideLibrary="org.rajawali3d.vr"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ExamplesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RajawaliExamplesActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".examples.interactive.VRActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wallpaper.WallpaperPreferenceActivity"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".wallpaper.PreviewActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name=".wallpaper.RajawaliExampleWallpaper"
            android:enabled="true"
            android:label="Wallpaper Example"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService">
                </action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/rajawali_example_wallpaper">
            </meta-data>
        </service>

        <service
            android:name="com.monyetmabuk.rajawali.tutorials.daydream.DayDream"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/rajawali_example_daydream"/>
        </service>
    </application>

</manifest>